body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url(https://www.nosequeestudiar.net/site/assets/files/217/medicina-mano-medica.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #74CDD1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;

}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="time"] {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0b7200;
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}